@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url();

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0e0d;
}
.head {
    background-image: url("imgs/teste.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    transform: translateY(-10px);
}
header {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;

    nav {
        display: flex;
        padding: 40px;
        justify-content: space-around;
        align-items: center;
    }
    nav img {
        width: 75px;
    }
    nav ul {
        display: flex;
        align-items: center;
    }
    nav li {
        display: flex;
        margin: 0 10px;
    }
    nav a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
    }
    #current-page::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 7px;
        background-color: #fff;
        opacity: 1;
    }

    nav a::after {
        content: "";
        display: block;
        width: 0px;
        height: 1px;
        margin-top: 7px;
        background-color: #fff;
        transition: 0.25s;
        opacity: 0;
    }
    nav a:hover::after {
        width: 100%;
        opacity: 1;
    }
    .buttons {
        display: flex;
    }
    .buttons #btn-nav {
        margin: 0 7px;
        transition: 0.25s;
        font-size: 22px;
    }
    .buttons #btn-nav:hover {
        color: #aaacae;
    }
    .buttons #btn-nav::after {
        opacity: 0;
    }
}

section#text-home {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    font-weight: 500;
    color: #fff7d6;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 35px;

    h2 {
        margin: 20vh 20px;
    }
    span {
        
        color: #c0ab70;
    }
    span#cafe {
        font-size: 65px;
    }
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background-color: #111010;
    color: #fafafa;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    img {
        width: 60px;
    }
    p {
        text-align: center;
        color: #fff;
    }
    #botoes {
        display: flex;
    }
    #botoes .btn-return {
        border: 2px solid #c0ab70;
        display: flex;
        color: #c0ab70;
        padding: 8px;
        border-radius: 6px;
        background-color: transparent;
        cursor: pointer;
        transition: 0.33s;
        align-items: center;
    }#botoes .btn-return i {
        margin-right: 6px;
    }
    #botoes .btn-return:hover {
        background-color: #c0ab70;
        color: #fafafa;
    }

}

.swiper-container {
    width: 100%;
    height: 400px; /* Altura do slider */
    margin: 0 auto;
  }

  .swiper-slide {
    width: 100%;
    height: auto;
  }

  .swiper-slide img {
    width: 100%;
    height: 620px;
    object-fit: cover; /* Faz com que as imagens cubram o slide sem distorcer */
  }

  @media screen and (max-width: 960px) {
        .swiper-slide img {
            width: 100%;
            height: 420px;
        }

        
  }

  /* Controles de navegação */
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }