.section-destaques {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    padding: 50px 0;
    z-index: 1;
}

.swiper-slide {
    position: relative;
    width: 320px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    border: 1px solid rgba(177, 177, 177, 0.4);
    margin-bottom: 25px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
}

@media (min-width: 768px) {
    .swiper {
        max-width: 1024px; /* Limita a largura máxima do container */
    }

    /*.swiper-slide {
        max-width: 380px; 
        margin: auto; 
    }*/

    .info-produto h3 {
        font-size: 16px;
    }

    .info-produto h2 {
        font-size: 12px;
    }
}

.card-produto {
    position: relative;
    width: 100%;
    height:100%;
    background-color: #111010;
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.info-produto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.info-produto h3 {
    font-weight: 500;
    margin: 5px 0;
}

.info-produto h2 {
    font-size: 1.2rem;
    color: #c0ab70;
    font-weight: 600;
}

/*.info-produto p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}*/

.info-produto a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #c0ab70;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}