header {
    .mobile-menu div {
        width: 32px;
        height: 2px;
        background-color: #fff;
        margin: 8px;
        transition: 0.3s;
    }
    .mobile-menu {
        display: none;
        cursor: pointer;
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

}


@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    header nav {
        justify-content: space-between;
    }
    header nav ul {
        position: absolute;
        margin-top: 80px;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background-color: #0f0e0d;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.5s;
    }
    header nav ul li {
        opacity: 0;
    }
    header .mobile-menu {
        display: block;
    }
    header nav ul.active {
        transform: translateX(0);
    }
    header #current-page::after {
        width: 0;
    }
    header nav ul a {
        font-size: 22px;
    }
    header nav ul a:hover {
        color: #aaacae;
    }
    header nav ul a:hover::after {
        width: 0;
    }
    .head {
        background-size: 1000px;
    }

    footer #copyright {
        display: none;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 999px) {

    
    
}