:root {
    --bg-dark: #0f0e0d;
    --bg-white: #f0f0f0;
    --txt-c-dark: #fafafa;
    --txt-c-white: #111;
    --txt-c-hover: #aaacae;
    --c-brown: #1a1108;
    --c-red: #f03d3d;
    --c-red-hover: #f03d3dad;
    --c-yellow: #f0ed55;
    --c-yellow-hover: #f0ed55ad;
}

.paleta {
    margin: 0 10px;
    margin-top: 150px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f0f0f0;
    justify-content: center;
}
.quadrados {
    background-color: #222;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    
    margin-top: 20px;
    
}

.fundo {
    margin: 0 10px;
}
.fundo::before {
    content: "hover para modo white";
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--bg-dark);
    transition: 0.3s;
}
.fundo:hover::before {
    background-color: var(--bg-white);
}
.marrom {
    margin: 0 10px;
}
.marrom::before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--c-brown);
}

.vermelho {
    margin: 0 10px;
}
.vermelho::before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--c-red);
    transition: 0.2s;
}
.amarelo {
    margin: 0 10px;
}
.amarelo::before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--c-yellow);
}